CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# output
build/
.vscode/settings.json
certs/**/*.pem
certs/fingerprint.txt

!certs/BaltimoreCyberTrustRoot.crt.pem

dps-chain-clients/
certs3/
certs/certs-from-andres/